#game, #winner-pick-view, #black-card-draw, #player-hand-view, #round-start-view, .hide, .hooray, #SNL {
  display: none;
}

h1 {
  font-family: 'Titan One', cursive;
  color: #d74133;
  font-size: 60px;
}

.jumbotron {
  background-color: #a2cbc6;
}

.score {
  font-weight: bold;
  color: #d74133;
  font-size: 20px;
}

h3 {
  font-family: 'Titan One', cursive;
  font-size: 25px;
}

#score {
  display: block;
}

.black-card {
  background-color: #1e2532;
  color: #ffffff;
}

.card {
  margin-top: 20px;
}
